@media (max-width: 1050px) {

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .image-container {
      width: 100%;
  }
  .image-container {
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 100%; 
  flex-wrap: wrap;
  height: auto; 
  }
  .product__img {
    width: auto;
    flex-shrink: 0;
  }

  .gallery {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
  }

  .image-container .product__img {
    margin-bottom: 30px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .thumbnail{
    max-width: 24%;
  }
    
    .header__burger {
        display: block;
    }

    .nav__left {
        position: fixed;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 30px;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        left: 0;
        top: 100px;
        background-color: rgba(236, 166, 108, 0.9);
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;
      }

      .nav-visible {
        transform: none;
      }

      #searchInput {
        display: flex;
    }

    #searchInput input[type="text"] {
      width: 100%;
      font-size: 200%;
  }
      .left__links {
        color: white;
        font-size: 36px;
      }

      .left__links:not(:last-child) {
        margin-bottom: 1em;
      }

      .right__btn {
        display: none;
      }

      .right__btn-media {
        display: flex;
        padding: 25px;
        background-image: url('../img/cart-shopping-fast-svgrepo-com.svg');
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }


}

@media (max-width: 790px) {
    .cards__product:nth-child(2n + 1) {
        margin-right: auto;
    }

}
.nav__center {
@media (max-width: 426px) {
  height: 40px;
  width: 200px;
  background-size: 90%;
}
}

@media (max-width: 540px) {

    .cards__product:nth-child(2n + 1) {
        margin-right: 0;
    }
    
    .cards__product:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .cards__container {
        justify-content: center;
        align-items: flex-start;
    }
}